.leaflet-top .leaflet-control {
  margin-top: 12px;
}

.leaflet-left .leaflet-control {
  margin-left: 12px;
}

.leaflet-touch .leaflet-bar {
  border: none;
  box-shadow: 0rem 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 10%),
    0rem 0.125rem 0.25rem -0.0625rem rgb(0 0 0 / 6%);
}

.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  font-size: 0.9rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  text-align: center;
}
