.Toastify__toast-body {
  font-size: 16px;
  font-weight: 400;
  margin-left: 8px !important;
}

.Toastify__toast {
  border-radius: 0.5rem;
}

/* Drop zone style override */
.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 270px;
  text-align: center;
  padding: 24px;
  border: 3px dashed #e2ebf9;
  border-radius: 8px;
  background-color: #fafafa;
  color: #3a7bd5;
}

.active {
  border-color: #8eb3e7 !important;
}

/* Draft style override */
.rdw-editor-toolbar {
  border: none;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.085);
}

.rdw-editor-main {
  padding: 0 24px;
}

/* Hide scroll bar */
.no-scrollbars {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.no-scrollbars::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.override-icon-class > div > svg {
  fill: white;
}

.override-progress-class {
  background: hsla(0, 0%, 100%, 0.7) !important;
}
